<section class="big-card__container">
  <img src="../../../assets/notice1-image.jpg" alt="Imagem da notícia" class="big-card__notice-image">
  <div class="big-card__container-game-time">
    <span class="big-card__game-name">LOL</span>
    <span class="big-card__notice-read-time">8 min</span>
  </div>
  <h2 class="big-card__title-notice"><a href="/">A nova temporada chegouu!</a></h2>
  <div class="big-card__container-info-notice-image">
    <img src="../../../assets/photo.PNG" alt="Foto do autor" class="big-card__actor-image">
    <div class="big-card__notice-time-actor">
      <span>Gabriel</span>
      <span>Hoje</span>
    </div>
  </div>
</section>
