<section class="container-big-card">
  <img src="../../../assets/notice1-image.jpg" alt="Imagem da notícia" class="notice-image">
  <div class="container-game-time">
    <span class="game-name">LOL</span>
    <span>8 min</span>
  </div>
  <h2 class="title-notice">A nova temporada chegou!</h2>
  <div class="container-info-notice-image">
    <img src="../../../assets/photo.PNG" alt="Foto do autor" class="actor-image">
    <div class="notice-time-actor">
      <span>Gabriel</span>
      <span>Hoje</span>
    </div>
  </div>
</section>
