.big-card__container {
  border: 3px solid #376E8A;
  border-radius: 10px;
  padding: 15px;
  height: 527px;
  width: 413px;
}

.big-card__notice-image {
  object-fit: cover;
  border-radius: 10px;
  height: 287px;
  width: 377px;
}

.big-card__container-game-time {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding: 6px 0 10px 5px;
  color:#c1e5f7;
}

.big-card__game-name {
  background-color: #376E8A;
  border-radius: 8px;
  padding: 1px 10px;
}

.big-card__title-notice {
  padding: 10px 0 10px 5px;
  width: 100%;
  color: #c1e5f7;
}

.big-card__container-info-notice-author {
  display: flex;
  gap: 15px;
  padding: 10px 0 10px 5px;
}

.big-card__notice-time-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: #c1e5f7;
}

.big-card__author-image {
  width: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: inherit;
}
