.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.container-title > h1 {
  margin: 14px 0 13px 0;
  color: #95dcff;
}

.container-title > h4 {
  color: #6ba3be;
}

.container-title > p {
  color: #95dcff;
}
