<section class="small-card__container">
  <img src="../../../assets/notice1-image.jpg" alt="Imagem da notícia" class="small-card__notice-image">
  <div class="small-card__container-notice">
    <div class="small-card__container-game-time">
      <span class="small-card__game-name">LOL</span>
      <span class="small-card__notice-read-time">8 min</span>
    </div>
    <h5 class="small-card__title-notice"><a href="/">A nova temporada chegouuuuuuuu! Confiraaaaaaaa</a></h5>
    <div class="small-card__container-info-notice-image">
      <img src="../../../assets/photo.PNG" alt="Foto do autor" class="small-card__actor-image">
      <div class="small-card__notice-time-actor">
        <span>Gabriel</span>
        <span>Hoje</span>
      </div>
    </div>
  </div>
</section>
