@media (max-width: 1024px) {
  .small-card__container {
    width: 400px;
    gap: 10px;
    padding: 10px;
  }

  .small-card__notice-image {
    height: 100px;
    width: 150px;
  }

  .small-card__container-game-time {
    padding: 5px 0 3px 5px;
  }

  .small-card__game-name, .small-card__notice-read-time {
    font-size: 0.625rem !important;
  }

  .small-card__game-name {
    padding: 1px 8px;
  }

  .small-card__title-notice {
    font-size: 0.75rem;
    padding: 3px 0 3px 5px;
  }

  .small-card__container-info-notice-author {
    padding: 5px 0 0 5px;
  }

  .small-card__notice-time-actor {
    font-size: 0.6rem;
  }
}

@media (max-width: 760px) {
  .small-card__container {
    width: 100%;
    gap: 10px;
    padding: 10px;
  }

  .small-card__notice-image {
    height: 100px;
    width: 150px;
  }

  .small-card__container-game-time {
    padding: 5px 0 3px 5px;
  }

  .small-card__game-name, .small-card__notice-read-time {
    font-size: 0.625rem !important;
  }

  .small-card__game-name {
    padding: 1px 8px;
  }

  .small-card__title-notice {
    font-size: 0.75rem;
    padding: 3px 0 3px 5px;
  }

  .small-card__container-info-notice-author {
    padding: 5px 0 0 5px;
  }

  .small-card__notice-time-actor {
    font-size: 0.6rem;
  }
}

@media (max-width: 300px) {
  .small-card__container {
    width: 100%;
    gap: 10px;
    padding: 10px;
  }

  .small-card__notice-image {
    height: 100px;
    width: 100px;
  }

  .small-card__container-game-time {
    padding: 5px 0 3px 5px;
  }

  .small-card__game-name, .small-card__notice-read-time {
    font-size: 0.625rem !important;
  }

  .small-card__game-name {
    padding: 1px 8px;
  }

  .small-card__title-notice {
    font-size: 0.6rem;
    padding: 3px 0 3px 5px;
  }

  .small-card__container-info-notice-author {
    padding: 5px 0 0 5px;
  }

  .small-card__notice-time-actor {
    font-size: 0.475rem;
  }
}
