<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-title-blog></app-title-blog>
<section class="notice-big">
  <app-big-card
      titleNotice="A nova temporada chegou!"
      photoNotice="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt8f3858fdcff6d99a/65961c8da8ee43ea36199e21/10924_LoL_Patch_14_1_Notes_Banner.jpg"
      gameName="LOL"
      readTime="8 min"
      author="Gabriel"
      dateNotice="27 jan 2024"
      photoAuthor="../../../assets/photo.PNG"
    >
  </app-big-card>
  <div class="cards-notices">
    <app-small-card
        titleNotice="Conjunto das galáxias retornou!"
        photoNotice="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt49c95e891cbd8c5c/657b9c1569408349fd4d26b0/010723_TFT_LNY2024_Article_Banner.jpg"
        gameName="TFT"
        readTime="8 min"
        author="Gabriel"
        dateNotice="27 jan 2024"
        photoAuthor="../../../assets/photo.PNG"
        >
    </app-small-card>

    <app-small-card
        titleNotice="4.4 Chegará com nova personagem e nova região!"
        photoNotice="https://fastcdn.hoyoverse.com/content-v2/hk4e/119488/b4b12ec3b48a9aa1bd24f4017d71f201_3930795753011491369.jpg"
        gameName="GI"
        readTime="8 min"
        author="Gabriel"
        dateNotice="27 jan 2024"
        photoAuthor="../../../assets/photo.PNG"
        >
    </app-small-card>

    <app-small-card
        titleNotice="2.0 Chegará com novos personagens e cones de luz!"
        photoNotice="https://upload-os-bbs.hoyolab.com/upload/2024/01/26/b1f892b9c268b0c04f3c2dcc0037a6cb_5614993289337111338.jpg?x-oss-process=image%2Fresize%2Cs_1000%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp%2Fquality%2Cq_80"
        gameName="HST"
        readTime="8 min"
        author="Gabriel"
        dateNotice="27 jan 2024"
        photoAuthor="../../../assets/photo.PNG"
        >
    </app-small-card>
  </div>
</section>
<footer>
  <h4><a href="https://github.com/GabrielBitral" target="_blank">Desenvolvido por Gabriel F. C.</a></h4>
</footer>
