<nav>
  <a href="/">
    <img src="../../../assets/logo.png" alt="Logo do GaBlog" class="logo">
  </a>
  <ul class="lista-jogos">
    <li><a href="https://www.leagueoflegends.com/pt-br/" target="_blank">League of Legends</a></li>
    <li><a href="https://teamfighttactics.leagueoflegends.com/pt-br/" target="_blank">Teamfight Tactics</a></li>
    <li><a href="https://genshin.hoyoverse.com/pt/home" target="_blank">Genshin Impact</a></li>
    <li><a href="https://hsr.hoyoverse.com/pt-pt/home" target="_blank">Honkai Star Rail</a></li>
  </ul>
  <div class="links">
    <a href="https://github.com/GabrielBitral/angular-blog" target="_blank" class="link-autor">Projeto</a>
    <a href="https://github.com/GabrielBitral" target="_blank" class="link-autor">Autor</a>
  </div>
</nav>
