@media (max-width: 1024px) {
  .lista-jogos li {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 760px) {

  .menu-bar li,
  .menu-bar .link-projeto {
    display: none;
  }

  .menu-bar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 760px) {
  .menu-bar.responsive {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .menu-bar.responsive a.icon {
    position: absolute;
    right: 20px;
    top: 39px;
  }

  .menu-bar.responsive .lista-jogos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .menu-bar.responsive li,
  .menu-bar.responsive .link-projeto {
    float: none;
    display: block;
    text-align: left;
  }

  .menu-bar.responsive .divisor {
    display: block;
    width: 100vw;
    margin-left: -20px;
    border: 1px solid #c1e5f7
  }
}
